*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
/*header开始*/
.header{
	height: 213px;
	border-bottom:4px solid #3aa747;
}
.header>div{
	width: 1200px;
	height: 213px;
	margin: 0 auto;
	background: url(../images/logo.png) 
	no-repeat left 65px;
	position: relative;
}
.header>div>span{
	display: inline-block;
	color: #0d0408;
	font-size: 13px;
	text-indent: 525px;
	line-height: 40px;
}
.header>div>a{
	color: #0d0408;
	font-size: 15px;
	margin-left: 35px;
}
.header select{
	font-size: 15px;
	color: #0d0408;
	border: none;
	margin-left: 10px;
}
#img{
	margin-left: 10px;
}
.header input{
	height: 45px;
	width: 600px;
	border:1px solid #393942;
	position: absolute;
	top:80px;
	left: 407px;
	text-align: center;
	font-size: 15px;
	color:#000;
	background: url(../images/search.png) 
	no-repeat 97% center;
}
#imgs{
	position: absolute;
	top: 90px;
	right: 0px;
}
#select1{
	color: #050505;
	font-weight: bold;
	position: absolute;
	top: 175px;
	left: 0px;
}
.header ul{
	position: absolute;
	top: 170px;
	left: 140px;
}
.header ul li{
	float: left;
	width: 80px;
	height: 40px;
	margin-right: 30px;
	line-height: 30px;
	text-align: center;

}
.header ul li a{
	color: #050505;
	font-size:15px;
}
.header ul li:hover{
	border-bottom: 3px solid #3aa747;
}
.header ul li:hover a{
	
	color: #3aa747;
}

/*banner 开始*/
.image{
	height: 670px;
	background: url(../images/banner.png) 
	no-repeat center;
}
#banner>div{
	width: 1200px;
	height: 950px;
	margin: 0 auto;
	position: relative;
}
#bread{
	height: 80px;
	width: 1200px;
	line-height: 80px;
}
#one a{
	font-size: 18px;
	color: #000;
}
#two a{
	color: #5c5a5a;
	font-size: 14px;
}
#three{
	position: absolute;
	top: 35px;
	right: 0px;
	font-size: 14px;
	flood-color: #000;
}
.td{
	height: 45px;
	width: 120px;
	border-left: 0;
	border-right: 0;
	border-top:0;
	text-align: center;
}
.td a{
	font-size: 16px;
	color: #000;
}
.td a:active{
	color: #3aa747;
}
#banner ul{
	margin-top: 15px;

}
#banner li{
	float: left;
	width: 272px;
	height: 293px;
	border: 1px solid #878787;
	margin-right: 20px;
	margin-top: 15px;
	position: relative;	
}
.a{
	margin-left: 10px;
	background: url(../images/img1.png)
	 no-repeat 50% 50%;
}
.b{
	background: url(../images/img2.png)
	 no-repeat 50% 50%;
}
.c{
	background: url(../images/img3.png)
	 no-repeat 50% 50%;
}
.d{
	background: url(../images/img4.png)
	 no-repeat 50% 50%;
}
.e{
	margin-left: 10px;
	background: url(../images/img5.png)
	 no-repeat 50% 50%;
}
.f{
	background: url(../images/img6.png)
	 no-repeat 50% 50%;
}
.g{
	background: url(../images/img7.png)
	 no-repeat 50% 50%;
}
.h{
	background: url(../images/img8.png)
	 no-repeat 50% 50%;
}
.little{
	height: 50px;
	width: 272px;
	background-color: rgba(76,76,76,0.9);
	position: absolute;
	bottom: 0px;
	text-align: center;
}
.little p{
	font-size: 15px;
	color: #ffffff;
	line-height: 25px;
}
.hide{
	display: none;
	width: 272px;
	height: 293px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color: rgba(71,71,68,0.8);
}
.hide p{
	font-size: 22px;
	color: #ffffff;
	margin-top: 120px;
	line-height: 30px;
}
#banner li:hover .hide{
	display: block;
}
#banner li:hover .little{
	display:none;
}
/*bottom开始*/
.bottom{
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.bottom li{
	float: left;
	width: 298px;
	height: 100px;
}
.bottom li p{
	position: absolute;
	line-height: 25px;
	margin-top: 20px;
	margin-left: 115px;
	font-size: 13px;
	color: #4f4f4f;
}
.bottom li p span{
	font-size: 19px;
	color: #333333;
}
#a{
	background: url(../images/f1.png) 
	no-repeat  35px center ;
}
#b{
	background: url(../images/f2.png) 
	no-repeat  35px center ;
}
#c{
	background: url(../images/f3.png) 
	no-repeat  35px center ;
}
#d{
	background: url(../images/f4.png) 
	no-repeat  35px center ;
}
#copyrignt{
	background-color: #323232;
}
#copyrignt div{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	padding-top: 30px;
	font-size: 14px;
	color: #fff;
}
#copyrignt div p{
	text-align: center;
	line-height: 40px;
}
#copyrignt div p a{
	font-size: 14px;
	color: #fff;
}
#fixed{
	width: 70px;
	height: 530px;
	background-color:#010807;
	z-index: 2;
	position:fixed;
	top: 100px;
	right:0px;		
}
#fixed li{
	width: 55px;
	height: 105px;
	margin: 0 auto;
	
}
#l{
	background: url(../images/cart1.png) 
	no-repeat 50% 50%;
	border-bottom: 1px solid white;
}
#m{
	background: url(../images/qq.png) 
	no-repeat 50% 50%;
	border-bottom: 1px solid white;
}
#n{
	background: url(../images/zuji.png) 
	no-repeat 50% 50%;
	border-bottom: 1px solid white;
}
#o{
	background: url(../images/erweima.png) 
	no-repeat 50% 50%;
	border-bottom: 1px solid white;
}
#p{
	background: url(../images/gotop.png) 
	no-repeat 50% 50%;
}





